[user]
	name = Patrick Huesmann
	email = info@patrick-huesmann.de
[grep]
	extendedRegexp = true
[color]
	ui = auto
[rebase]
	autosquash = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main

