[submodule ".config/kak/plugins/plug.kak"]
	path = .config/kak/plugins/plug.kak
	url = https://github.com/andreyorst/plug.kak.git
[submodule ".config/kak/plugins/powerline.kak"]
	path = .config/kak/plugins/powerline.kak
	url = https://github.com/andreyorst/powerline.kak
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".omz-agnoster-hostcolors"]
	path = .omz-agnoster-hostcolors
	url = https://github.com/patrislav1/agnoster-hostcolors.git
